<%- include('includes/header') %>

<div class="container reg-page">
    <% if (locals.errors) { %>
        <% errors.forEach(function(error){ %>
            <div class="alert alert-danger"><%= error.msg %></div>
        <% }) %>
    <% } %>
    <%- messages() %>
      <form method="post" action="/users/register" class="form-signin">
        <h2 class="form-signin-heading text-center">Registro de computadora</h2>
        <label class="sr-only">Departamento</label>
        <input type="text" name="name" class="form-control" placeholder="Departamento" value="<%= (!!locals.name)?name:'' %>" required autofocus>
        <br>
        <label class="sr-only">Marca</label>
        <input type="text" name="email" class="form-control" placeholder="Marca" value="<%= (!!locals.email)?email:'' %>" required autofocus>
        <br>
        <label class="sr-only">Modelo</label>
        <input type="text" name="username" class="form-control" placeholder="Modelo" value="<%= (!!locals.username)?username:'' %>" required autofocus>
        <br>
        <label class="sr-only">Contraseña</label>
        <input type="password" name="password" class="form-control" placeholder="Password" value="<%= (!!locals.password)?password:'' %>" required>
        <br>
        <label class="sr-only">Confirmar contraseña</label>
        <input type="password" name="password2" class="form-control" placeholder="Password Confirm" value="<%= (!!locals.password2)?password2:'' %>" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Registrar</button>
      </form>
    </div> <!-- /container -->

<%- include('includes/footer') %>