<%- include('includes/header') %>

<%- include('includes/nav-bar') %>

	<div class="container">
	  <div class="starter-template">
		<h1>Usuarios</h1>
		<br>
		<table class="table">
			<thead>
			  <tr>
				<th>Nombre</th>
				<th>Apellidos</th>
				<th>Correo</th>
				<th>Rol</th>
			  </tr>
			</thead>
			<tbody>
				<% if (locals.users) { %>
					<% users.forEach(function(user){ %>
						<tr>
							<td><%=user.fname%></td>
							<td><%=user.lname%></td>
							<td><%=user.email%></td>
							<td><%=user.role%></td>
							<td>
								<button type="button" id="<%=user.email%>" class="btn btn-warning editUser" data-toggle="modal" data-target="#exampleModal">Editar</button>
								<button id="<%=user.email%>" class="btn btn-danger deleteUser">Borrar</button>
							</td>
						</tr>
					<% }) %>
				<% } %>
			</tbody>
		  </table>
		<br>
		<a class="btn btn-primary" href="/users/register">Registrar usuario</a>
	  </div>
	</div><!-- /.container -->
	<%- include('includes/modal') %>
<%- include('includes/footer') %>